
@font-face {
    font-family: "Torus Notched";
    src: url("./font/torus.ttf"
        );
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #181818;
}

.frem {
    width: 27rem;
    height: 15rem;
    position: relative;
    overflow: hidden;
    border-radius: 23px;
    box-shadow: 0px 0px 20px #0000007a;
    display: flex;
    justify-content: center;
    align-items: center;
}

.border {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200%;
    width: 200%;
    overflow: hidden;
    background: linear-gradient(to right, #303030 20%, #303030 40%, #ff00a5 50%,#ff2f00 55%,#004eff 70%, #00ffdc 100%);
    background-size: 200% auto;
    animation: shine 3s linear infinite;
    transform: rotate(-45deg);
}
.border::before {
    content: 'Loading Animation';
    position: absolute;
    height: 230px;
    width: 420px;
    border-radius: 23px;
    background: #181818;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    letter-spacing: 2px;
    color: #d72a3e;
    transform: rotate(45deg);
    font-family: "Torus Notched";
    box-shadow: inset 20px 20px 20px #0000008c;
}
@keyframes shine {
    to {
        background-position: 200% center;
    }
}
